{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Generate Orthogonal Scars</h2>
    <div class="jumbo_subregion">
    	<p>
    		Type IIS restriction enzymes are often used to enable the easy assembly of multiple DNA fragments. These enzymes cut away from their recognition sequence allowing for scars to be chosen that ensure the correct assembly of parts. However, choosing scars can be challenging due to scar use in existing constructs and issues with orthogonality (e.g., ensuring similar ligation efficiencies).
        </p>
            This application allows for the generation of scars of varying length that act orthogonally with limited homology, and are selected using either a gready random method or by enumerating all possible scars. Lists of existing scars can also be provided with each scar entered on a new line. These are checked for validity (i.e., homology between themselves) and cleaned if necessary to only include scars that are valid in the final set.
    	</p>
    	<p>
    		This software is developed within the Voigt Lab as part of the MIT-Broad Foundry.
    	</p>
    </div>
  </div>
  <form action="{{ url_for('home') }}" method=post>
  	{{ form.hidden_tag() }}
    <table>
    	<tr>
    		<td><p>
    		{{ form.exclude_scars.label }}<br>
    		{{ form.exclude_scars }}
    		</p></td>

    		<td><p>
			{{ form.length.label }}
    		{{ form.length }}
    		</p><p>
			{{ form.homology.label }}
    		{{ form.homology }}
    		</p><p>
    		{{ form.search_type.label }}
    		{{ form.search_type }}
			</p><p>
			{{ form.req_num.label }}
    		{{ form.req_num }}
    		</p><p>
			{{ form.submit }}
			</p></td>
		</tr>
    </table>
    
  </form>
{% endblock %}
